@charset "UTF-8";
@font-face {
    font-family: "HelvLightIBM";
    font-style: normal;
    src: url("//1.www.s81c.com/common/fonts/hni-v2-light.eot?#iefix") format("embedded-opentype"), url("//1.www.s81c.com/common/fonts/hni-v2-light.woff") format("woff"), url("//1.www.s81c.com/common/fonts/hni-v2-light.ttf") format("truetype"), url("//1.www.s81c.com/common/fonts/hni-v2-light.svg#HelvLightIBM") format("svg");
}
@font-face {
    font-family: "HelvRegularIBM";
    font-style: normal;
    font-weight: normal;
    src: url("//1.www.s81c.com/common/fonts/hni-v2-roman.eot?#iefix") format("embedded-opentype"), url("//1.www.s81c.com/common/fonts/hni-v2-roman.woff") format("woff"), url("//1.www.s81c.com/common/fonts/hni-v2-roman.ttf") format("truetype"), url("//1.www.s81c.com/common/fonts/hni-v2-roman.svg#HelvRegularIBM") format("svg");
}
@font-face {
    font-family: "HelvBoldIBM";
    font-style: normal;
    font-weight: bold;
    src: url("//1.www.s81c.com/common/fonts/hni-v2-bold.eot?#iefix") format("embedded-opentype"), url("//1.www.s81c.com/common/fonts/hni-v2-bold.woff") format("woff"), url("//1.www.s81c.com/common/fonts/hni-v2-bold.ttf") format("truetype"), url("//1.www.s81c.com/common/fonts/hni-v2-bold.svg#HelvBoldIBM") format("svg");
}
@font-face {
    font-family: "icons-ibm-v3";
    font-style: normal;
    font-weight: normal;
    src: url("//1.www.s81c.com/common/fonts/icons-ibm-v3.eot?#iefix") format("embedded-opentype"), url("//1.www.s81c.com/common/fonts/icons-ibm-v3.woff") format("woff"), url("//1.www.s81c.com/common/fonts/icons-ibm-v3.ttf") format("truetype"), url("//1.www.s81c.com/common/fonts/icons-ibm-v3.svg#icons-ibm-v3") format("svg");
}
@media not all {
@font-face {
    font-family: "icons-ibm-v3";
    src: url("//1.www.s81c.com/common/fonts/icons-ibm-v3.svg#icons-ibm-v3") format("svg");
}
}

.ibm-add-link::before {
    content: "";
}
.ibm-admin-link::before {
    content: "";
}
.ibm-alert-link::before {
    content: "";
}
.ibm-anchor-down-link::before {
    content: "";
}
.ibm-anchor-up-link::before {
    content: "";
}
.ibm-arrow-forward-link::before, .ibm-search-module-overlay-typeahead-con ul li.ibm-active::after {
    content: "";
}
.ibm-arrow-forward-bold-link::before {
    content: "";
}
.ibm-attachment-link::before {
    content: "";
}
.ibm-audio-link::before {
    content: "";
}
.ibm-back-link::before {
    content: "";
}
.ibm-baidu-link::before {
    content: "";
}
.ibm-baidu-encircled-link::before {
    content: "";
}
.ibm-bee-link::before {
    content: "";
}
.ibm-blip-link::before {
    content: "";
}
.ibm-blip-encircled-link::before {
    content: "";
}
.ibm-blog-link::before {
    content: "";
}
.ibm-bookmark-link::before {
    content: "";
}
.ibm-calculator-link::before {
    content: "";
}
.ibm-calendar-link::before {
    content: "";
}
.ibm-cart-link::before {
    content: "";
}
.ibm-caution-link::before {
    content: "";
}
.ibm-chat-link::before {
    content: "";
}
.ibm-chevron-down-link::before, .ibm-chevron-down-link.ibm-icon-after::after, .ibm-sitenav-menu-list > ul > li.ibm-haschildlist > button.ibm-chevron-down-link::after, .ibm-sitenav-menu-list > ul > li.ibm-haschildlist > span.ibm-chevron-down-link::after, .ibm-sitenav-menu-list > ul > li.ibm-haschildlist > a.ibm-chevron-down-link::after, div.ibm-chevron-down-link.ibm-selectlist-styled::after, div.ibm-selectlist-styled::after {
    content: "";
}
.ibm-chevron-left-bold-link::before {
    content: "";
}
.ibm-chevron-left-light-link::before {
    content: "";
}
.ibm-chevron-left-regular-link::before {
    content: "";
}
.ibm-chevron-right-bold-link::before {
    content: "";
}
.ibm-chevron-right-light-link::before {
    content: "";
}
.ibm-chevron-right-regular-link::before, ul#ibm-navigation-trail li::after, #ibm-com div.ibm-step-indicator ul.ibm-tabs li::after {
    content: "";
}
.ibm-chevron-up-link::before {
    content: "";
}
.ibm-clock-link::before {
    content: "";
}
.ibm-close-link::before, .msie8 .ibm-mobilemenu-show #ibm-menu-links .ibm-masthead-item-menu button::before, .msie9 .ibm-mobilemenu-show #ibm-menu-links .ibm-masthead-item-menu button::before {
    content: "";
}
.ibm-cloud-link::before {
    content: "";
}
.ibm-collaborate-link::before {
    content: "";
}
.ibm-confirm-link::before {
    content: "";
}
.ibm-delicious-link::before {
    content: "";
}
.ibm-delicious-encircled-link::before {
    content: "";
}
.ibm-desktop-link::before {
    content: "";
}
.ibm-digg-link::before {
    content: "";
}
.ibm-digg-encircled-link::before {
    content: "";
}
.ibm-document-link::before {
    content: "";
}
.ibm-download-link::before {
    content: "";
}
.ibm-edit-link::before {
    content: "";
}
.ibm-ellipsis-link::before {
    content: "";
}
.ibm-email-link::before {
    content: "";
}
.ibm-event-link::before {
    content: "";
}
.ibm-external-link::before, .ibm-external-link.ibm-icon-after::after, .ibm-sitenav-menu-list > ul > li.ibm-haschildlist > button.ibm-external-link::after, .ibm-sitenav-menu-list > ul > li.ibm-haschildlist > span.ibm-external-link::after, .ibm-sitenav-menu-list > ul > li.ibm-haschildlist > a.ibm-external-link::after, div.ibm-external-link.ibm-selectlist-styled::after {
    content: "";
}
.ibm-facebook-link::before {
    content: "";
}
.ibm-facebook-encircled-link::before {
    content: "";
}
.ibm-firstpage-link::before {
    content: "";
}
.ibm-flickr-link::before {
    content: "";
}
.ibm-flickr-encircled-link::before {
    content: "";
}
.ibm-folder-link::before {
    content: "";
}
.ibm-forum-link::before {
    content: "";
}
.ibm-forward-link::before, .ibm-add1-link::before, .ibm-anchor-down-em-link::before, .ibm-back-em-link::before, .ibm-callaction-link::before, .ibm-callme-link::before, .ibm-cancel-link::before, .ibm-cautionlarge-link::before, .ibm-check-link::before, .ibm-checklarge-link::before, .ibm-chevron-link::before, .ibm-community::before, .ibm-community-link::before, .ibm-contrast-link::before, .ibm-delete-link::before, .ibm-demo-link::before, .ibm-demoplay-link::before, .ibm-dogear-link::before, .ibm-error-link::before, .ibm-fontsize-link::before, .ibm-forward-em-link::before, .ibm-forward-pg-link::before, .ibm-friendfeed-link::before, .ibm-fullstar-link::before, .ibm-generic-link::before, .ibm-halfstar-link::before, .ibm-incorrect-link::before, .ibm-kaixn-link::before, .ibm-nostar-link::before, .ibm-question-link::before, .ibm-recommend-link::before, .ibm-signin-link::before, .ibm-sort-down-link::before, .ibm-sort-down-link.ibm-icon-after::after, div.ibm-sort-down-link.ibm-selectlist-styled::after, .ibm-sitenav-menu-list > ul > li.ibm-haschildlist > button::after, .ibm-sitenav-menu-list > ul > li.ibm-haschildlist > span::after, .ibm-sitenav-menu-list > ul > li.ibm-haschildlist > a::after, .ibm-sort-up-link::before, .ibm-symp-doc::before, .ibm-symp-presentation::before, .ibm-symp-spreadsheet::before, .ibm-upward-link::before, .ibm-usergroup::before, .ibm-usergroup-link::before, .ibm-vaideo-link::before, .ibm-video-link::before, .ibm-wireless-link::before, .ibm-yahoojapan-link::before {
    content: "";
}
.ibm-googleplus-link::before {
    content: "";
}
.ibm-googleplus-encircled-link::before {
    content: "";
}
.ibm-hatena-link::before {
    content: "";
}
.ibm-hatena-blog-link::before {
    content: "";
}
.ibm-hatena-blog-encircled-link::before {
    content: "";
}
.ibm-hatena-encircled-link::before {
    content: "";
}
.ibm-help-link::before {
    content: "";
}
.ibm-home-link::before {
    content: "";
}
.ibm-ibmlogo-link::before, #ibm-home a::before {
	font-family: "icons-ibm-v3";
    content: "";
}
.ibm-information-link::before {
    content: "";
}
.ibm-instagram-link::before {
    content: "";
}
.ibm-instagram-encircled-link::before {
    content: "";
}
.ibm-kaixin-link::before {
    content: "";
}
.ibm-kaixin-encircled-link::before {
    content: "";
}
.ibm-lastpage-link::before, .ibm-lastpage-link.ibm-icon-after::after, .ibm-sitenav-menu-list > ul > li.ibm-haschildlist > button.ibm-lastpage-link::after, .ibm-sitenav-menu-list > ul > li.ibm-haschildlist > span.ibm-lastpage-link::after, .ibm-sitenav-menu-list > ul > li.ibm-haschildlist > a.ibm-lastpage-link::after, div.ibm-lastpage-link.ibm-selectlist-styled::after {
    content: "";
}
.ibm-like-link::before {
    content: "";
}
.ibm-link-link::before {
    content: "";
}
.ibm-linkedin-link::before {
    content: "";
}
.ibm-linkedin-encircled-link::before {
    content: "";
}
.ibm-list-link::before {
    content: "";
}
.ibm-livedoor-link::before {
    content: "";
}
.ibm-livedoor-encircled-link::before {
    content: "";
}
.ibm-livestream-link::before {
    content: "";
}
.ibm-livestream-encircled-link::before {
    content: "";
}
.ibm-location-link::before {
    content: "";
}
.ibm-masthead-menu-link::before {
    content: "";
}
.ibm-masthead-search-link::before {
    content: "";
}
.ibm-masthead-signin-link::before {
    content: "";
}
.ibm-maximize-link::before, .ibm-show-hide h2 a::before, ul.ibm-twisty > li a.ibm-twisty-trigger::before {
    content: "";
}
.ibm-menu-link::before {
    content: "";
}
.ibm-minimize-link::before, .ibm-show-hide h2 a.ibm-show-active::before, ul.ibm-twisty > li.ibm-active > a.ibm-twisty-trigger::before {
    content: "";
}
.ibm-mobile-link::before {
    content: "";
}
.ibm-nav-dropdown-link::before {
    content: "";
}
.ibm-new-link::before {
    content: "";
}
.ibm-next-link::before, .ibm-next-link.ibm-icon-after::after, .ibm-sitenav-menu-list > ul > li.ibm-haschildlist > button.ibm-next-link::after, .ibm-sitenav-menu-list > ul > li.ibm-haschildlist > span.ibm-next-link::after, .ibm-sitenav-menu-list > ul > li.ibm-haschildlist > a.ibm-next-link::after, div.ibm-next-link.ibm-selectlist-styled::after {
    content: "";
}
.ibm-non-secure-link::before {
    content: "";
}
.ibm-password-link::before {
    content: "";
}
.ibm-pause-link::before {
    content: "";
}
.ibm-payment-link::before {
    content: "";
}
.ibm-pdf-link::before {
    content: "";
}
.ibm-person-link::before {
    content: "";
}
.ibm-phone-link::before {
    content: "";
}
.ibm-picture-link::before {
    content: "";
}
.ibm-play-link::before {
    content: "";
}
.ibm-popup-link::before {
    content: "";
}
.ibm-previous-link::before {
    content: "";
}
.ibm-print-link::before {
    content: "";
}
.ibm-profile-link::before {
    content: "";
}
.ibm-recommended-link::before {
    content: "";
}
.ibm-refresh-link::before {
    content: "";
}
.ibm-relationship-link::before {
    content: "";
}
.ibm-remove-link::before {
    content: "";
}
.ibm-renren-link::before {
    content: "";
}
.ibm-renren-encircled-link::before {
    content: "";
}
.ibm-requestquote-link::before {
    content: "";
}
.ibm-reset-link::before {
    content: "";
}
.ibm-role-link::before {
    content: "";
}
.ibm-rss-link::before {
    content: "";
}
.ibm-save-link::before {
    content: "";
}
.ibm-search-link::before {
    content: "";
}
.ibm-secure-link::before {
    content: "";
}
.ibm-setting-link::before {
    content: "";
}
.ibm-skype-link::before {
    content: "";
}
.ibm-skype-encircled-link::before {
    content: "";
}
.ibm-sort-link::before {
    content: "";
}
.ibm-sort-down-link::before, .ibm-sort-down-link.ibm-icon-after::after, div.ibm-sort-down-link.ibm-selectlist-styled::after, .ibm-sitenav-menu-list > ul > li.ibm-haschildlist > button::after, .ibm-sitenav-menu-list > ul > li.ibm-haschildlist > span::after, .ibm-sitenav-menu-list > ul > li.ibm-haschildlist > a::after {
    content: "";
}
.ibm-star-full-link::before {
    content: "";
}
.ibm-star-half-link::before {
    content: "";
}
.ibm-star-none-link::before {
    content: "";
}
.ibm-stop-link::before {
    content: "";
}
.ibm-stumbleupon-link::before {
    content: "";
}
.ibm-stumbleupon-encircled-link::before {
    content: "";
}
.ibm-tag-link::before {
    content: "";
}
.ibm-task-link::before {
    content: "";
}
.ibm-tile-link::before {
    content: "";
}
.ibm-tools-link::before {
    content: "";
}
.ibm-top-link::before {
    content: "";
}
.ibm-twitter-link::before {
    content: "";
}
.ibm-twitter-encircled-link::before {
    content: "";
}
.ibm-upload-link::before {
    content: "";
}
.ibm-videochat-link::before {
    content: "";
}
.ibm-view-link::before {
    content: "";
}
.ibm-weibo-link::before {
    content: "";
}
.ibm-weibo-encircled-link::before {
    content: "";
}
.ibm-wiki-link::before {
    content: "";
}
.ibm-world-link::before {
    content: "";
}
.ibm-wykop-link::before {
    content: "";
}
.ibm-wykop-encircled-link::before {
    content: "";
}
.ibm-xing-link::before {
    content: "";
}
.ibm-xing-encircled-link::before {
    content: "";
}
.ibm-yahoo-link::before {
    content: "";
}
.ibm-yahoo-encircled-link::before {
    content: "";
}
.ibm-youtube-link::before {
    content: "";
}
.ibm-youtube-encircled-link::before {
    content: "";
}

@keyframes ibm-spinner-kf-colors {
0% {
    border-color: rgba(0, 0, 0, 0) rgb(204, 204, 204) rgb(204, 204, 204);
}
50% {
    border-color: rgba(0, 0, 0, 0) rgb(59, 108, 170) rgb(59, 108, 170);
}
100% {
    border-color: rgba(0, 0, 0, 0) rgb(204, 204, 204) rgb(204, 204, 204);
}
}
@keyframes ibm-spinner-kf-spin {
0% {
    transform: rotate(0deg);
}
100% {
    transform: rotate(-360deg);
}
}
.tipso_bubble, .tipso_bubble > .tipso_arrow {
    box-sizing: border-box;
}
.tipso_bubble {
    border-radius: 6px;
    padding: 10px;
    position: absolute;
    text-align: center;
    z-index: 9999;
}
.tipso_content {
    word-wrap: break-word;
}
.tipso_bubble > .tipso_arrow {
    border: 8px solid;
    height: 0;
    pointer-events: none;
    position: absolute;
    width: 0;
}
.tipso_bubble.top > .tipso_arrow {
    border-color: rgb(0, 0, 0) rgba(0, 0, 0, 0) rgba(0, 0, 0, 0);
    left: 50%;
    margin-left: -8px;
    top: 100%;
}
.tipso_bubble.bottom > .tipso_arrow {
    border-color: rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) rgb(0, 0, 0);
    bottom: 100%;
    left: 50%;
    margin-left: -8px;
}
.tipso_bubble.left > .tipso_arrow {
    border-color: rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) rgb(0, 0, 0);
    left: 100%;
    margin-top: -8px;
    top: 50%;
}
.tipso_bubble.right > .tipso_arrow {
    border-color: rgba(0, 0, 0, 0) rgb(0, 0, 0) rgba(0, 0, 0, 0) rgba(0, 0, 0, 0);
    margin-top: -8px;
    right: 100%;
    top: 50%;
}
span.tipso_style {
    border-bottom: 1px dotted;
    cursor: help;
}
span.tipso_style:hover {
    border-bottom: 1px solid;
}
.ibm-tooltip-content {
    display: none;
}
.tipso_bubble {
    border-radius: 0;
    font-size: 16px;
    text-align: left;
}
.tipso_bubble a {
    color: rgb(50, 50, 50);
    text-decoration: underline;
}

a.ibm-share-viadeo {
    background: rgba(0, 0, 0, 0) url("//1.www.s81c.com/common/v17e/i/icons/sprites-pt-fr.png") no-repeat scroll -52px 0;
}
ul:hover a[class^="ibm-share"][class$="blip"] {
    background: rgba(0, 0, 0, 0) url("//1.www.s81c.com/common/v17e/i/icons/sprites-pt-pl.png") no-repeat scroll -26px 0;
}
ul:hover a[class^="ibm-share"][class$="wykop"] {
    background: rgba(0, 0, 0, 0) url("//1.www.s81c.com/common/v17e/i/icons/sprites-pt-pl.png") no-repeat scroll -26px -26px;
}
ul:hover a[class^="ibm-share"][class$="viadeo"] {
    background: rgba(0, 0, 0, 0) url("//1.www.s81c.com/common/v17e/i/icons/sprites-pt-fr.png") no-repeat scroll -26px 0;
}
ul:hover a[class^="ibm-share"][class$="blip"]:hover, ul a[class^="ibm-share"][class$="blip"]:focus {
    background: rgba(0, 0, 0, 0) url("//1.www.s81c.com/common/v17e/i/icons/sprites-pt-pl.png") no-repeat scroll -78px 0;
}
ul:hover a[class^="ibm-share"][class$="wykop"]:hover, ul a[class^="ibm-share"][class$="wykop"]:focus {
    background: rgba(0, 0, 0, 0) url("//1.www.s81c.com/common/v17e/i/icons/sprites-pt-pl.png") no-repeat scroll -78px -26px;
}
ul:hover a[class^="ibm-share"][class$="viadeo"]:hover, ul a[class^="ibm-share"][class$="viadeo"]:focus {
    background: rgba(0, 0, 0, 0) url("//1.www.s81c.com/common/v17e/i/icons/sprites-pt-fr.png") no-repeat scroll -78px 0;
}
ul:hover a[class$="active-blip"]:hover {
    background: rgba(0, 0, 0, 0) url("//1.www.s81c.com/common/v17e/i/icons/sprites-pt-pl.png") no-repeat scroll 0 0;
}
ul:hover a[class$="active-wykop"]:hover {
    background: rgba(0, 0, 0, 0) url("//1.www.s81c.com/common/v17e/i/icons/sprites-pt-pl.png") no-repeat scroll 0 -26px;
}
ul:hover a[class$="active-viadeo"]:hover {
    background: rgba(0, 0, 0, 0) url("//1.www.s81c.com/common/v17e/i/icons/sprites-pt-fr.png") no-repeat scroll 0 0;
}
a.ibm-share-yahoo-japan, a.ibm-share-hatena, a.ibm-share-livedoor, ul:hover a.ibm-share-yahoo-japan, ul:hover a.ibm-share-hatena, ul:hover a.ibm-share-livedoor, ul:hover a.ibm-share-yahoo-japan:hover, ul:hover a.ibm-share-hatena:hover, ul:hover a.ibm-share-livedoor:hover, ul a.ibm-share-yahoo-japan:focus, ul a.ibm-share-hatena:focus, ul a.ibm-share-livedoor:focus {
    background: rgba(0, 0, 0, 0) url("//1.www.s81c.com/common/v17e/i/icons/sprites-pt-jp.png") no-repeat scroll 0 0;
}
a.ibm-share-yahoo-japan {
    background-position: -52px 0;
}
a.ibm-share-hatena {
    background-position: -52px -26px;
}
a.ibm-share-livedoor {
    background-position: -52px -52px;
}
ul:hover a.ibm-share-yahoo-japan {
    background-position: -26px 0;
}
ul:hover a.ibm-share-hatena {
    background-position: -26px -26px;
}
ul:hover a.ibm-share-livedoor {
    background-position: -26px -52px;
}
ul:hover a.ibm-share-yahoo-japan:hover, ul a.ibm-share-yahoo-japan:focus {
    background-position: -78px 0;
}
ul:hover a.ibm-share-hatena:hover, ul a.ibm-share-hatena:focus {
    background-position: -78px -26px;
}
ul:hover a.ibm-share-livedoor:hover, ul a.ibm-share-livedoor:focus {
    background-position: -78px -52px;
}
ul:hover a.ibm-share-active-yahoo-japan:hover {
    background-position: 0 0;
}
ul:hover a.ibm-share-active-hatena:hover {
    background-position: 0 -26px;
}
ul:hover a.ibm-share-active-livedoor:hover {
    background-position: 0 -52px;
}
a.ibm-share-kaixin, a.ibm-share-renren, a.ibm-share-baidu, a.ibm-share-weibo, ul:hover a.ibm-share-kaixin, ul:hover a.ibm-share-renren, ul:hover a.ibm-share-baidu, ul:hover a.ibm-share-weibo, ul:hover a.ibm-share-kaixin:hover, ul:hover a.ibm-share-renren:hover, ul:hover a.ibm-share-baidu:hover, ul:hover a.ibm-share-weibo:hover, ul a.ibm-share-kaixin:focus, ul a.ibm-share-renren:focus, ul a.ibm-share-baidu:focus, ul a.ibm-share-weibo:focus {
    background: rgba(0, 0, 0, 0) url("//1.www.s81c.com/common/v17e/i/icons/sprites-pt-cn.png") no-repeat scroll 0 0;
}
a.ibm-share-kaixin {
    background-position: -52px 0;
}
a.ibm-share-renren {
    background-position: -52px -26px;
}
a.ibm-share-baidu {
    background-position: -52px -52px;
}
a.ibm-share-weibo {
    background-position: -52px -78px;
}
ul:hover a.ibm-share-kaixin {
    background-position: -26px 0;
}
ul:hover a.ibm-share-renren {
    background-position: -26px -26px;
}
ul:hover a.ibm-share-baidu {
    background-position: -26px -52px;
}
ul:hover a.ibm-share-weibo {
    background-position: -26px -78px;
}
ul:hover a.ibm-share-kaixin:hover, ul a.ibm-share-kaixin:focus {
    background-position: -78px 0;
}
ul:hover a.ibm-share-renren:hover, ul a.ibm-share-renren:focus {
    background-position: -78px -26px;
}
ul:hover a.ibm-share-baidu:hover, ul a.ibm-share-baidu:focus {
    background-position: -78px -52px;
}
ul:hover a.ibm-share-weibo:hover, ul a.ibm-share-weibo:focus {
    background-position: -78px -78px;
}
#ibm-com #ibm-top .ibm-rating-module, #ibm-com .ibm-common-overlay .ibm-rating-module {
    clear: both;
    display: block;
    padding-bottom: 25px;
}
#ibm-com #ibm-top .ibm-rating-module .ibm-rating-list, #ibm-com #ibm-top .ibm-rating-module .ibm-rating-list {
    list-style-type: none;
}
#ibm-com #ibm-top .ibm-rating-module .ibm-rating-list .ibm-rating-no-star, #ibm-com .ibm-common-overlay .ibm-rating-module .ibm-rating-list .ibm-rating-no-star, #ibm-com #ibm-top .ibm-rating-module .ibm-rating-list .ibm-rating-half-star, #ibm-com .ibm-common-overlay .ibm-rating-module .ibm-rating-list .ibm-rating-half-star, #ibm-com #ibm-top .ibm-rating-module .ibm-rating-list .ibm-rating-full-star, #ibm-com .ibm-common-overlay .ibm-rating-module .ibm-rating-list .ibm-rating-full-star {
    background: rgba(0, 0, 0, 0) url("//1.www.s81c.com/common/v17e/i/icons/ibm_sprite_ratings_blue_ON.png") no-repeat scroll 0 0;
    clear: none;
    display: block;
    float: left;
    height: 13px;
    margin: 0;
    padding: 0 2px 0 0;
    width: 13px;
}
#ibm-com #ibm-top .ibm-rating-module .ibm-rating-list .ibm-rating-no-star, #ibm-com .ibm-common-overlay .ibm-rating-module .ibm-rating-list .ibm-rating-no-star {
    background-position: 0 -601px;
}
#ibm-com #ibm-top .ibm-rating-module .ibm-rating-list .ibm-rating-half-star, #ibm-com .ibm-common-overlay .ibm-rating-module .ibm-rating-list .ibm-rating-half-star {
    background-position: 0 -401px;
}
#ibm-com #ibm-top .ibm-rating-module .ibm-rating-list .ibm-rating-full-star, #ibm-com .ibm-common-overlay .ibm-rating-module .ibm-rating-list .ibm-rating-full-star {
    background-position: 0 -201px;
}
#ibm-com #ibm-top .ibm-rating-module h2, #ibm-com .ibm-common-overlay .ibm-rating-module h2 {
    clear: both;
}
#ibm-com #ibm-top .ibm-rating-module .ibm-rating-label, #ibm-com .ibm-common-overlay .ibm-rating-module .ibm-rating-label {
    clear: both;
    padding-bottom: 5px;
}
#ibm-com #ibm-top .ibm-rating-module .ibm-rating-inline-label, #ibm-com .ibm-common-overlay .ibm-rating-module .ibm-rating-inline-label {
    clear: left;
    float: left;
    padding-top: 0;
    width: 120px;
}
.ibm-card {
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(199, 199, 199);
    box-sizing: border-box;
    margin-bottom: 20px;
}
.ibm-card__heading, .ibm-card__content {
    padding: 20px;
}
.ibm-card__heading p {
    padding-bottom: 0;
}
#ibm-masthead {
    background-color: rgb(255, 255, 255);
    top: 0;
    width: 100%;
    z-index: 20;
}
.ibm-sitenav-menu-sticky #ibm-masthead {
    z-index: 10;
}
.ibm-sitenav-menu-sticky.ibm-masthead-sticky #ibm-masthead {
    z-index: 30;
}
.ibm-masthead-zindex-top #ibm-masthead {
    z-index: 920 !important;
}
#ibm-mast-options {
    display: none;
}
#ibm-universal-nav {
    background: rgb(255, 255, 255) none repeat scroll 0 0;
    border-bottom: 1px solid rgb(229, 229, 229);
    height: 50px;
    position: relative;
    z-index: 2;
}
.ibm-masthead-zindex-top #ibm-universal-nav, .ibm-masthead-megamenu-showing #ibm-universal-nav {
    z-index: 920;
}
#ibm-home {
    float: left;
    /*margin-left: 20px;*/
    overflow: hidden;
    position: relative;
}
#ibm-home.ibm-animate a {
    animation-duration: 1.4s;
    animation-name: fadein;
    animation-timing-function: ease-in;
}
#ibm-home.ibm-animate a::before {
    animation-delay: 0.4s;
    animation-duration: 2.2s;
    animation-name: glow;
}
#ibm-home a {
    border-bottom: 2px solid rgba(0, 0, 0, 0);
    box-sizing: border-box;
    color: #fff;
    display: block;
    height: 50px;
}
#ibm-home a::before {
    color: #fff;
    font-size: 60px;
    
    top: 10px;
}
#ibm-home a:hover {
    /*border-bottom: 2px solid rgb(59, 108, 170);*/
    color: #fff;
}
[data-icon]::before, [class*="-link"]::before, .ibm-hasicon::before, .ibm-community::before, .ibm-symp-doc::before, .ibm-symp-presentation::before, .ibm-symp-spreadsheet::before, .ibm-usergroup::before, #ibm-com div.ibm-step-indicator ul.ibm-tabs li::after, .ibm-show-hide h2 a::before, ul.ibm-twisty > li a.ibm-twisty-trigger::before, #ibm-home a::before, .ibm-icon-after::after, .ibm-sitenav-menu-list li.ibm-haschildlist > span::after, .ibm-sitenav-menu-list li.ibm-haschildlist > a::after, div.ibm-selectlist-styled::after, #ibm-parent-link a::before, #ibm-navigation-trail li::after, .ibm-bullet::before, .ibm-close::before {
    display: inline-block;
    font-family: "icons-ibm-v3";
    font-size: 2em;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    left: 1px;
    position: absolute;
    text-decoration: none;
    text-rendering: optimizelegibility;
    text-transform: none;
}