
    	<div class="piclaber row" id="imgpop">
      	  <div class="col-md-2 leftTab">
      		<ul>
      		  <li class="active">My Pics</li>
      		</ul>
      	  </div>
      	  <div class="col-md-10 rightTab">
	      	  	<ul>
		        		<li class="myImg"><img src="./images/1.jpg" ng-click="selectImage('./images/1.jpg')"></li>
		            <li class="myImg"><img src="./images/2.jpg" ng-click="selectImage('./images/2.jpg')"></li>
		            <li class="myImg"><img src="./images/3.jpg" ng-click="selectImage('./images/3.jpg')"></li>
		            <li class="myImg"><img src="./images/4.jpg" ng-click="selectImage('./images/4.jpg')"></li>
		            <li class="myImg"><img src="./images/5.jpg" ng-click="selectImage('./images/5.jpg')"></li>
		            <li class="myImg"><img src="./images/6.png" ng-click="selectImage('./images/6.png')"></li>
		            <li class="myImg"><img src="./images/7.png" ng-click="selectImage('./images/7.png')"></li>
		            <li class="myImg"><img src="./images/10.jpg" ng-click="selectImage('./images/10.jpg')"></li>
		            <li class="myImg"><img src="./images/11.jpg" ng-click="selectImage('./images/11.jpg')"></li>
		            <li class="myImg"><img src="./images/12.jpg" ng-click="selectImage('./images/12.jpg')"></li>
		            <li class="myImg"><img src="./images/13.jpg" ng-click="selectImage('./images/13.jpg')"></li>
		            <li class="myImg"><img src="./images/14.png" ng-click="selectImage('./images/14.png')"></li>
		            <li class="myImg"><img src="./images/15.png" ng-click="selectImage('./images/15.png')"></li>
		            <li class="myImg"><img src="./images/16.png" ng-click="selectImage('./images/16.png')"></li>
	      	  	</ul>
      	  </div>
      	  <div class="opeation"><button class="btn module module-half select-color blue" ng-click="addImage()">Set background</button><button class="btn module module-half select-color blue">Add image</button></div>
      	  <span class="glyphicon glyphicon-remove close"></span>
      	</div>

<!--
<md-dialog aria-label="Mango (Fruit)">
  <form> <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>Mango (Fruit)</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="cancel()">
          <md-icon md-svg-src="img/icons/ic_close_24px.svg" aria-label="Close dialog"></md-icon>
        </md-button>
      </div>
    </md-toolbar>
<md-dialog-content style="max-width:800px;max-height:810px; ">
      <md-tabs md-dynamic-height md-border-bottom>
        <md-tab label="System">
          <md-content class="md-padding">
           <ul class="h-images-list" >
            <li><img src="./images/1.jpg" ng-click="selectImage('1.jpg')"></li>
            <li><img src="./images/2.jpg" ng-click="selectImage('2.jpg')"></li>
            <li><img src="./images/3.jpg" ng-click="selectImage('3.jpg')"></li>
            <li><img src="./images/4.jpg" ng-click="selectImage('4.jpg')"></li>
            <li><img src="./images/5.jpg" ng-click="selectImage('5.jpg')"></li>
            <li><img src="./images/6.png" ng-click="selectImage('6.jpg')"></li>
            <li><img src="./images/7.png" ng-click="selectImage('7.jpg')"></li>
            <li><img src="./images/10.jpg" ng-click="selectImage('10.jpg')"></li>
            <li><img src="./images/11.jpg" ng-click="selectImage('11.jpg')"></li>
            <li><img src="./images/12.jpg" ng-click="selectImage('12.jpg')"></li>
            <li><img src="./images/13.jpg" ng-click="selectImage('13.jpg')"></li>
            <li><img src="./images/14.png" ng-click="selectImage('14.png')"></li>
            <li><img src="./images/15.png" ng-click="selectImage('15.png')"></li>
            <li><img src="./images/16.png" ng-click="selectImage('16.png')"></li>
           </ul>

          </md-content>
        </md-tab>
        <md-tab label="User">
          <md-content class="md-padding">
            <h1 class="md-display-2">User</h1>
            <input type="upload"/>
          </md-content>
        </md-tab>
      </md-tabs>
    </md-dialog-content>
   <md-dialog-actions layout="row">
      <md-button href="http://en.wikipedia.org/wiki/Mango" target="_blank" md-autofocus>
        More on Wikipedia
      </md-button>
      <span flex></span>
      <md-button ng-click="answer('not useful')" >
        Not Useful
      </md-button>
      <md-button ng-click="answer('useful')" style="margin-right:20px;" >
        Useful
      </md-button>
    </md-dialog-actions> </form>
</md-dialog>-->

