<div class="navbar navbar-blue">        
          <div class="navbar-text navbar-left" id="ibm-home"><a class="ibm-logo">&nbsp;</a></div>
          <p class="navbar-text navbar-left"><a ng-click="myProject()">我的项目</a></p>
          <div class="navbar-img">
          	<a class="imgbut" id="text"  ng-click="newText()"><img src="images/text.svg"></a>
            <a class="imgbut" id="img"   ng-click="newImages()"><img src="images/img.svg"></a>
          </div>
          <p class="navbar-text navbar-right" id="userProfile" style="margin: 0px 10px 0px 0px;">
          <span class="userName" id="uName" ng-click="userLogin()">欢迎,登陆</span></p> 
</div>

<script>
	

</script>