	<!--text-properties start-->
<div class="col-right" id="text-properties">
		  <div class="title"><div class="active">文本设置</div></div>		  
		  <div class="btn-group module">
      <div layout layout-align="center center">
  	    <div flex="15" style="margin-right:10px;" layout layout-align="center center">
  	        <span class="md-body-1">字号</span>
  	    </div>
          <md-slider flex class="md-primary" md-discrete  ng-model="fontSize.size"  max='100' min = '8' step='1' ng-change="getFontSize()">
          </md-slider>
     	    <div flex="25" layout layout-align="center center" class="editPanelElement">
          		<input flex type="text" ng-model="fontSize.size" aria-label="red" aria-controls="red-slider"><span class="md-body-1" style="margin-left: 5px;">px</span>
          </div>
      </div>

     <div layout layout-align="center center">
  	    <div flex="15" layout layout-align="center center" style="margin-right:10px;">
  	        <span class="md-body-1">行高</span>
  	    </div>
          <md-slider flex class="md-primary" md-discrete  ng-model="lineHeight.size"  max='300' min = '1' step='1' ng-change="getLineHeight()" aria-label="rating">
          </md-slider>
     	    <div flex="25" layout layout-align="center center" class="editPanelElement">
          		<input flex type="text" ng-model="lineHeight.size" aria-label="red" aria-controls="red-slider"><span class="md-body-1" style="margin-left: 5px;">px</span>
          </div>
      </div>

      <div layout layout-align="center center">
    	    <div flex="15" layout layout-align="center center" style="margin-right:10px;">
    	        <span class="md-body-1">圆角</span>
    	    </div>
            <md-slider flex class="md-primary" md-discrete  ng-model="radius.size"  max='300' min = '1' step='1' ng-change="getRadiusSize()" aria-label="rating">
            </md-slider>
       	    <div flex="25" layout layout-align="center center" class="editPanelElement">
            		<input flex type="text" ng-model="radius.size" aria-label="red" aria-controls="red-slider"><span class="md-body-1" style="margin-left: 5px;">px</span>
            </div>
        </div>

        <div layout layout-align="center center">
    	    <div flex="15" layout layout-align="center center" style="margin-right:10px;">
    	        <span class="md-body-1">透明</span>
    	    </div>
            <md-slider flex class="md-primary" md-discrete  ng-model="opacity.numberValue"  max='1' min = '0' step='0.1' ng-change="getFontOpacity()" aria-label="rating">
            </md-slider>
       	    <div flex="25" layout layout-align="center center" class="editPanelElement">
            		<input flex type="text" ng-model="opacity.numberValue" aria-label="red" aria-controls="red-slider"><span class="md-body-1" style="margin-left: 5px;">&nbsp;&nbsp;&nbsp;&nbsp;</span>
            </div>
        </div>

<!--  <div class="Separation"></div>	 -->
<div class="Separation"></div>
      <div layout layout-align="center center">
		    <div flex="15" layout layout-align="center center" style="margin-right:10px;">
		        <span class="md-body-1">字体</span>
		    </div>
        <select class="input input--dropdown form-control"  ng-change="setFontFamily()" ng-model="selected">
          <option value="{{item.value}}" ng-repeat="item in fontFamily">{{item.name}}</option>
        </select>
    	</div>

<div class="Separation"></div>
   <div layout layout-align="center center">
		  <div class="form-group" style="text-align:left; margin:10px 0px 0px 10px;">
    		<span class="md-body-1">字体颜色</span>
   			<input id="fontColor" type="color"  ng-model="setFontColor"  />
          <span class="md-body-1">背景颜色</span>
        <input id="fontBackgroundColor" type="color"  ng-model="setFontBackgroundColor" />
  		</div>
    </div>


  <div class="Separation"></div>		
   <div layout>  
   			<div class=" B-but bold-active fontFormat"  ng-click="setFontBold()"><i class=" icon-bold"></i></div>
   			<div class=" B-I  italic-active fontFormat" ng-click="setFontItalic()"><i class="icon-italic"></i></div>
   			<div class=" B-U  textDecoration-active fontFormat" ng-click="setTextDecoration()"><i class=" icon-underline"></i></div>
   			<div class="textleft-active fontFormat" ng-click="setTextAlign('left')"><i class="icon-align-left"></i></div>
   			<div class="textcenter-active fontFormat" ng-click="setTextAlign('center')"><i class="icon-align-center"></i></div>
   			<div class="textright-active fontFormat" ng-click="setTextAlign('right')"><i class="icon-align-right"></i></div>
        <div class="textright-active fontFormat" ng-click="setTextLink()"><i class="icon-link"></i></div>
		  </div>			
		  <div class="Separation"></div>	
<select class="input input--dropdown form-control" ng-change="textAnimate()" ng-model="selected">
    <option value="">请选择动画</option>
         <optgroup label="Attention Seekers">
          <option value="bounce">bounce</option>
          <option value="flash">flash</option>
          <option value="pulse">pulse</option>
          <option value="rubberBand">rubberBand</option>
          <option value="shake">shake</option>
          <option value="swing">swing</option>
          <option value="tada">tada</option>
          <option value="wobble">wobble</option>
          <option value="jello">jello</option>
        </optgroup>

        <optgroup label="Bouncing Entrances">
          <option value="bounceIn">bounceIn</option>
          <option value="bounceInDown">bounceInDown</option>
          <option value="bounceInLeft">bounceInLeft</option>
          <option value="bounceInRight">bounceInRight</option>
          <option value="bounceInUp">bounceInUp</option>
        </optgroup>

        <optgroup label="Bouncing Exits">
          <option value="bounceOut">bounceOut</option>
          <option value="bounceOutDown">bounceOutDown</option>
          <option value="bounceOutLeft">bounceOutLeft</option>
          <option value="bounceOutRight">bounceOutRight</option>
          <option value="bounceOutUp">bounceOutUp</option>
        </optgroup>

        <optgroup label="Fading Entrances">
          <option value="fadeIn">fadeIn</option>
          <option value="fadeInDown">fadeInDown</option>
          <option value="fadeInDownBig">fadeInDownBig</option>
          <option value="fadeInLeft">fadeInLeft</option>
          <option value="fadeInLeftBig">fadeInLeftBig</option>
          <option value="fadeInRight">fadeInRight</option>
          <option value="fadeInRightBig">fadeInRightBig</option>
          <option value="fadeInUp">fadeInUp</option>
          <option value="fadeInUpBig">fadeInUpBig</option>
        </optgroup>

        <optgroup label="Fading Exits">
          <option value="fadeOut">fadeOut</option>
          <option value="fadeOutDown">fadeOutDown</option>
          <option value="fadeOutDownBig">fadeOutDownBig</option>
          <option value="fadeOutLeft">fadeOutLeft</option>
          <option value="fadeOutLeftBig">fadeOutLeftBig</option>
          <option value="fadeOutRight">fadeOutRight</option>
          <option value="fadeOutRightBig">fadeOutRightBig</option>
          <option value="fadeOutUp">fadeOutUp</option>
          <option value="fadeOutUpBig">fadeOutUpBig</option>
        </optgroup>

        <optgroup label="Flippers">
          <option value="flip">flip</option>
          <option value="flipInX">flipInX</option>
          <option value="flipInY">flipInY</option>
          <option value="flipOutX">flipOutX</option>
          <option value="flipOutY">flipOutY</option>
        </optgroup>

        <optgroup label="Lightspeed">
          <option value="lightSpeedIn">lightSpeedIn</option>
          <option value="lightSpeedOut">lightSpeedOut</option>
        </optgroup>

        <optgroup label="Rotating Entrances">
          <option value="rotateIn">rotateIn</option>
          <option value="rotateInDownLeft">rotateInDownLeft</option>
          <option value="rotateInDownRight">rotateInDownRight</option>
          <option value="rotateInUpLeft">rotateInUpLeft</option>
          <option value="rotateInUpRight">rotateInUpRight</option>
        </optgroup>

        <optgroup label="Rotating Exits">
          <option value="rotateOut">rotateOut</option>
          <option value="rotateOutDownLeft">rotateOutDownLeft</option>
          <option value="rotateOutDownRight">rotateOutDownRight</option>
          <option value="rotateOutUpLeft">rotateOutUpLeft</option>
          <option value="rotateOutUpRight">rotateOutUpRight</option>
        </optgroup>

        <optgroup label="Sliding Entrances">
          <option value="slideInUp">slideInUp</option>
          <option value="slideInDown">slideInDown</option>
          <option value="slideInLeft">slideInLeft</option>
          <option value="slideInRight">slideInRight</option>

        </optgroup>
        <optgroup label="Sliding Exits">
          <option value="slideOutUp">slideOutUp</option>
          <option value="slideOutDown">slideOutDown</option>
          <option value="slideOutLeft">slideOutLeft</option>
          <option value="slideOutRight">slideOutRight</option>
          
        </optgroup>
        
        <optgroup label="Zoom Entrances">
          <option value="zoomIn">zoomIn</option>
          <option value="zoomInDown">zoomInDown</option>
          <option value="zoomInLeft">zoomInLeft</option>
          <option value="zoomInRight">zoomInRight</option>
          <option value="zoomInUp">zoomInUp</option>
        </optgroup>
        
        <optgroup label="Zoom Exits">
          <option value="zoomOut">zoomOut</option>
          <option value="zoomOutDown">zoomOutDown</option>
          <option value="zoomOutLeft">zoomOutLeft</option>
          <option value="zoomOutRight">zoomOutRight</option>
          <option value="zoomOutUp">zoomOutUp</option>
        </optgroup>

        <optgroup label="Specials">
          <option value="hinge">hinge</option>
          <option value="rollIn">rollIn</option>
          <option value="rollOut">rollOut</option>
        </optgroup>
         </select>
		
</div>

   

<script>
$(document).ready(function(){
$('#fontColor').kendoColorPicker({
});
//
$("#fontBackgroundColor").kendoColorPicker({
});


$("#borderColor").kendoColorPicker({
  toolIcon: "k-i-minimize",
  palette: "websafe",
    opacity: true
});
});
	
</script>

