	<!--text-properties start-->
      	<div class="col-right" id="text-properties">
		  <div class="title"><div class="active">text</div></div>		  
		  <div class="btn-group module">
		    <button type="button" class="btn btn-default module-select-half" id="fontFamily">Font Family</button>
		    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
		      <span class="caret"></span>
		      <span class="sr-only">Toggle Dropdown</span>
		    </button>
		    <ul class="dropdown-menu" >
		      <li  ng-click="setFontFamily(m.fontFamily)" ng-repeat="m in fontFamily"><a href="#">{{m.fontFamily}}</a></li>
		    </ul>
		    		
		  </div>		  
		  <div class="btn-group module">
		    <button type="button" class="btn btn-default module-select-half" id="fontSize">Font Size</button>
		    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
		      <span class="caret"></span>
		      <span class="sr-only">Toggle Dropdown</span>
		    </button>
		    
		    <ul class="dropdown-menu">
		      <li  ng-click="getFontSize(m.px)"  ng-repeat=" m in fontSize"><a href="#">{{m.px}}</a></li>
		    </ul>
		  </div>		  
		  <div class="btn-group module">
		    <button type="button" class="btn btn-default module-select-half">Line Height</button>
		    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
		      <span class="caret"></span>
		      <span class="sr-only">Toggle Dropdown</span>
		    </button>
		    <ul class="dropdown-menu">
		      <li><a href="#">Action</a></li>
		    </ul>
		  </div>		 
		  <div type="button" id="fontColor" class="btn module module-half select-color blue" style="padding: 0;">
<input id="colorpicker" type="color"  ng-model="setFontColor" />
</div>

		  <div class="Separation"></div>		  
		  	<div class="btn B-but module bold-active"  ng-click="setFontBold()">B</div>
		  	<div class="btn B-I moduleNoleft italic-active" ng-click="setFontItalic()">I</div>
		  	<div class="btn B-U moduleNoleft textDecoration-active" ng-click="setTextDecoration()">U</div>
		  	<div class="btn module glyphicon glyphicon-align-left textleft-active" ng-click="setTextAlign('left')"></div>
		  	<div class="btn module glyphicon glyphicon-align-center textcenter-active" ng-click="setTextAlign('center')"></div>
		  	<div class="btn module glyphicon glyphicon-align-right textright-active" ng-click="setTextAlign('right')"></div>			
		  <div class="Separation"></div>		  
		  <div class="module">
		  	<div class="silderTitle">Radius</div>
		  	<div class="silder"><md-slider flex ng-model="radius.size" ng-change="setRadiusSize()" min="0" max="100" aria-label="blue" id="blue-slider" class="md-primary">
</md-slider></div>
		  	<input class="silderText btn" />
		  </div>		  
		  <div class="module">
		  	<div class="silderTitle">Outline</div>
		  	<div class="silder"><div class="line"></div><div class="circle"></div></div>
		  	<input class="silderText btn" />
		  </div>		  
		   <div type="button"  class="btn module module-half select-color blue" style="padding: 0;" >
          <input id="backgroundColor" type="color"  ng-model="setFontBackgroundColor" /></div>
		  <div type="button"  class="btn module module-half select-color blue" style="padding: 0;" >
		  <input id="borderColor" type="color"  ng-model="setBorderColor" /></div>		  
		  <div class="Separation"></div>		  
		  <div class="module">
		  	<div class="silderTitle">Transparent</div>
		  	<div class="silder"><md-slider flex ng-model="opacity.numberValue"  max='1' min = '0' step='0.1' ng-change="setFontOpacity()" aria-label="blue" id="blue-slider" class="md-primary">
</md-slider></div>
		  	<input class="silderText btn" />
		  </div>		  
		  <div class="module">
		  	<div class="silderTitle">Rotate</div>
		  	<div class="silder"><md-slider flex ng-model="transform.numberValue"  max='360' min = '0' step='1' ng-change="setFontTransform()" aria-label="blue" id="blue-slider" class="md-primary">
</md-slider></div>
		  	<input class="silderText btn" />
		  </div>		  
		  <div class="btn-group module module-full">
		    <button type="button" class="btn btn-default module-select-full">Transformers</button>
		    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
		      <span class="caret"></span>
		      <span class="sr-only">Toggle Dropdown</span>
		    </button>
		    <ul class="dropdown-menu">
		      <li><a href="#">Action</a></li>
		    </ul>
		  </div>		  
		  <div class="Separation"></div>		  
		  <div class="btn-group module module-full">
<select ng-model="selected"  class="input input--dropdown form-control" id="js--animations" ng-change="textAnimate()">
<option value="">Animate</option>
<optgroup label="Attention Seekers">
<option value="bounce">bounce</option>
<option value="flash">flash</option>
<option value="pulse">pulse</option>
<option value="rubberBand">rubberBand</option>
<option value="shake">shake</option>
<option value="swing">swing</option>
<option value="tada">tada</option>
<option value="wobble">wobble</option>
<option value="jello">jello</option>
</optgroup>

<optgroup label="Bouncing Entrances">
<option value="bounceIn">bounceIn</option>
<option value="bounceInDown">bounceInDown</option>
<option value="bounceInLeft">bounceInLeft</option>
<option value="bounceInRight">bounceInRight</option>
<option value="bounceInUp">bounceInUp</option>
</optgroup>

<optgroup label="Bouncing Exits">
<option value="bounceOut">bounceOut</option>
<option value="bounceOutDown">bounceOutDown</option>
<option value="bounceOutLeft">bounceOutLeft</option>
<option value="bounceOutRight">bounceOutRight</option>
<option value="bounceOutUp">bounceOutUp</option>
</optgroup>

<optgroup label="Fading Entrances">
<option value="fadeIn">fadeIn</option>
<option value="fadeInDown">fadeInDown</option>
<option value="fadeInDownBig">fadeInDownBig</option>
<option value="fadeInLeft">fadeInLeft</option>
<option value="fadeInLeftBig">fadeInLeftBig</option>
<option value="fadeInRight">fadeInRight</option>
<option value="fadeInRightBig">fadeInRightBig</option>
<option value="fadeInUp">fadeInUp</option>
<option value="fadeInUpBig">fadeInUpBig</option>
</optgroup>

<optgroup label="Fading Exits">
<option value="fadeOut">fadeOut</option>
<option value="fadeOutDown">fadeOutDown</option>
<option value="fadeOutDownBig">fadeOutDownBig</option>
<option value="fadeOutLeft">fadeOutLeft</option>
<option value="fadeOutLeftBig">fadeOutLeftBig</option>
<option value="fadeOutRight">fadeOutRight</option>
<option value="fadeOutRightBig">fadeOutRightBig</option>
<option value="fadeOutUp">fadeOutUp</option>
<option value="fadeOutUpBig">fadeOutUpBig</option>
</optgroup>

<optgroup label="Flippers">
<option value="flip">flip</option>
<option value="flipInX">flipInX</option>
<option value="flipInY">flipInY</option>
<option value="flipOutX">flipOutX</option>
<option value="flipOutY">flipOutY</option>
</optgroup>

<optgroup label="Lightspeed">
<option value="lightSpeedIn">lightSpeedIn</option>
<option value="lightSpeedOut">lightSpeedOut</option>
</optgroup>

<optgroup label="Rotating Entrances">
<option value="rotateIn">rotateIn</option>
<option value="rotateInDownLeft">rotateInDownLeft</option>
<option value="rotateInDownRight">rotateInDownRight</option>
<option value="rotateInUpLeft">rotateInUpLeft</option>
<option value="rotateInUpRight">rotateInUpRight</option>
</optgroup>

<optgroup label="Rotating Exits">
<option value="rotateOut">rotateOut</option>
<option value="rotateOutDownLeft">rotateOutDownLeft</option>
<option value="rotateOutDownRight">rotateOutDownRight</option>
<option value="rotateOutUpLeft">rotateOutUpLeft</option>
<option value="rotateOutUpRight">rotateOutUpRight</option>
</optgroup>

<optgroup label="Sliding Entrances">
<option value="slideInUp">slideInUp</option>
<option value="slideInDown">slideInDown</option>
<option value="slideInLeft">slideInLeft</option>
<option value="slideInRight">slideInRight</option>

</optgroup>
<optgroup label="Sliding Exits">
<option value="slideOutUp">slideOutUp</option>
<option value="slideOutDown">slideOutDown</option>
<option value="slideOutLeft">slideOutLeft</option>
<option value="slideOutRight">slideOutRight</option>

</optgroup>

<optgroup label="Zoom Entrances">
<option value="zoomIn">zoomIn</option>
<option value="zoomInDown">zoomInDown</option>
<option value="zoomInLeft">zoomInLeft</option>
<option value="zoomInRight">zoomInRight</option>
<option value="zoomInUp">zoomInUp</option>
</optgroup>

<optgroup label="Zoom Exits">
<option value="zoomOut">zoomOut</option>
<option value="zoomOutDown">zoomOutDown</option>
<option value="zoomOutLeft">zoomOutLeft</option>
<option value="zoomOutRight">zoomOutRight</option>
<option value="zoomOutUp">zoomOutUp</option>
</optgroup>

<optgroup label="Specials">
<option value="hinge">hinge</option>
<option value="rollIn">rollIn</option>
<option value="rollOut">rollOut</option>
</optgroup>
	</select>
		  </div>		  
		  <div class="Separation"></div>		  
		  <input class="module fullText btn " placeholder="Input URL" ng-model="setFontLink" />
      	</div>
      	<!--text properties end-->

<script>
$(document).ready(function(){
$('#colorpicker').kendoColorPicker({
  toolIcon: "k-foreColor",
  palette: "websafe",
    opacity: true
});
//
$("#backgroundColor").kendoColorPicker({
  toolIcon: "k-backColor",
  palette: "websafe",
    opacity: true
});


$("#borderColor").kendoColorPicker({
  toolIcon: "k-i-minimize",
  palette: "websafe",
    opacity: true
});
});
	
</script>

<!--


<div class="editModuleWrap" style="	width:270px;
	min-height: 300px;
	background-color:#dddddd; position:absolute;" layout-padding layout="column">

<div class="editToolTitle" style="height:20px;border-bottom:1px solid #eeeeee;">
	<h3 style="font-size:14px;padding:0;margin:0;">Font proterty</h3>
</div>

<div layout="row">
	<span flex>
		<select ng-model="selected" ng-change="setFontFamily()" ng-options="m.fontFamily for m in fontFamily">
			<option value="">Font Family</option>
		</select>
	</span>
	<span flex>
		<select ng-model="selected" ng-change="getFontSize()" ng-options=" m.px for m in fontSize">
			<option value="">Font Size</option>
		</select>
	</span>
</div>
<div layout="row">
	<span flex>
		<select ng-model="selected" ng-change="setLineHeight()" ng-options="m.lineHeight for m in lineHeight">
			<option value="">Line Space</option>
		</select>
	</span>
	<span flex><input kendo-color-picker k-palette="'websafe'" ng-model="setFontColor" /></span>
</div>

<div layout="row">
<span flex class="pannel-icon bold-active"   ng-click="setFontBold()">   <i class="icon-bold icon-1x" ></i></span>
<span flex class="pannel-icon italic-active" ng-click="setFontItalic()"> <i class=" icon-italic icon-1x"></i></span>

<span flex class="pannel-icon textDecoration-active" ng-click="setTextDecoration()"><i class=" icon-underline icon-1x"></i></span>
<span flex class="pannel-icon" class="pannel-title textleft-active"  ng-click="setTextAlign('left')"><i class="  icon-align-left icon-1x"></i></span>
<span flex class="pannel-icon textcenter-active"  ng-click="setTextAlign('center')"><i class=" icon-align-center icon-1x"></i></span>
<span flex class="pannel-icon textright-active"  ng-click="setTextAlign('right')"><i class=" icon-align-right icon-1x"></i></span>
</div>

<div layout="row">
<span flex="20" layout-align="center center" style="margin-top:10px;"><div>Radius</div></span>
<md-slider flex ng-model="radius.size" ng-change="setRadiusSize()" min="0" max="100" aria-label="blue" id="blue-slider" class="md-primary">
</md-slider>
</div>

<div layout="row">
<span flex="60" layout-align="center center" style="margin-top:10px;"><div>Background Color</div></span>
<span flex><input kendo-color-picker k-palette="'websafe'" ng-model="setFontBackgroundColor" /></span>
</div>

<div layout="row">
<span class="pannel-title" style="margin-top:10px;">Opacity</span>
<md-slider flex ng-model="opacity.numberValue"  max='1' min = '0' step='0.1' ng-change="setFontOpacity()" aria-label="blue" id="blue-slider" class="md-primary">
</md-slider>
</div>


<div layout="row">
<span flex><input id="linkValue" type="text" placeholder="link"/></span>
<span flex><button id="linkAction">Save</button></span>
</div>


<div layout="row">
<span flex="20" class="pannel-title" style="margin-top:10px;">Roate</span>
<md-slider flex ng-model="transform.numberValue"  max='360' min = '0' step='1' ng-change="setFontTransform()" aria-label="blue" id="blue-slider" class="md-primary">
</md-slider>
</div>



<div layout="row">
<select ng-model="selected" flex class="input input--dropdown " id="js--animations" ng-change="textAnimate()">
<option value="">Animate</option>
<optgroup label="Attention Seekers">
<option value="bounce">bounce</option>
<option value="flash">flash</option>
<option value="pulse">pulse</option>
<option value="rubberBand">rubberBand</option>
<option value="shake">shake</option>
<option value="swing">swing</option>
<option value="tada">tada</option>
<option value="wobble">wobble</option>
<option value="jello">jello</option>
</optgroup>

<optgroup label="Bouncing Entrances">
<option value="bounceIn">bounceIn</option>
<option value="bounceInDown">bounceInDown</option>
<option value="bounceInLeft">bounceInLeft</option>
<option value="bounceInRight">bounceInRight</option>
<option value="bounceInUp">bounceInUp</option>
</optgroup>

<optgroup label="Bouncing Exits">
<option value="bounceOut">bounceOut</option>
<option value="bounceOutDown">bounceOutDown</option>
<option value="bounceOutLeft">bounceOutLeft</option>
<option value="bounceOutRight">bounceOutRight</option>
<option value="bounceOutUp">bounceOutUp</option>
</optgroup>

<optgroup label="Fading Entrances">
<option value="fadeIn">fadeIn</option>
<option value="fadeInDown">fadeInDown</option>
<option value="fadeInDownBig">fadeInDownBig</option>
<option value="fadeInLeft">fadeInLeft</option>
<option value="fadeInLeftBig">fadeInLeftBig</option>
<option value="fadeInRight">fadeInRight</option>
<option value="fadeInRightBig">fadeInRightBig</option>
<option value="fadeInUp">fadeInUp</option>
<option value="fadeInUpBig">fadeInUpBig</option>
</optgroup>

<optgroup label="Fading Exits">
<option value="fadeOut">fadeOut</option>
<option value="fadeOutDown">fadeOutDown</option>
<option value="fadeOutDownBig">fadeOutDownBig</option>
<option value="fadeOutLeft">fadeOutLeft</option>
<option value="fadeOutLeftBig">fadeOutLeftBig</option>
<option value="fadeOutRight">fadeOutRight</option>
<option value="fadeOutRightBig">fadeOutRightBig</option>
<option value="fadeOutUp">fadeOutUp</option>
<option value="fadeOutUpBig">fadeOutUpBig</option>
</optgroup>

<optgroup label="Flippers">
<option value="flip">flip</option>
<option value="flipInX">flipInX</option>
<option value="flipInY">flipInY</option>
<option value="flipOutX">flipOutX</option>
<option value="flipOutY">flipOutY</option>
</optgroup>

<optgroup label="Lightspeed">
<option value="lightSpeedIn">lightSpeedIn</option>
<option value="lightSpeedOut">lightSpeedOut</option>
</optgroup>

<optgroup label="Rotating Entrances">
<option value="rotateIn">rotateIn</option>
<option value="rotateInDownLeft">rotateInDownLeft</option>
<option value="rotateInDownRight">rotateInDownRight</option>
<option value="rotateInUpLeft">rotateInUpLeft</option>
<option value="rotateInUpRight">rotateInUpRight</option>
</optgroup>

<optgroup label="Rotating Exits">
<option value="rotateOut">rotateOut</option>
<option value="rotateOutDownLeft">rotateOutDownLeft</option>
<option value="rotateOutDownRight">rotateOutDownRight</option>
<option value="rotateOutUpLeft">rotateOutUpLeft</option>
<option value="rotateOutUpRight">rotateOutUpRight</option>
</optgroup>

<optgroup label="Sliding Entrances">
<option value="slideInUp">slideInUp</option>
<option value="slideInDown">slideInDown</option>
<option value="slideInLeft">slideInLeft</option>
<option value="slideInRight">slideInRight</option>

</optgroup>
<optgroup label="Sliding Exits">
<option value="slideOutUp">slideOutUp</option>
<option value="slideOutDown">slideOutDown</option>
<option value="slideOutLeft">slideOutLeft</option>
<option value="slideOutRight">slideOutRight</option>

</optgroup>

<optgroup label="Zoom Entrances">
<option value="zoomIn">zoomIn</option>
<option value="zoomInDown">zoomInDown</option>
<option value="zoomInLeft">zoomInLeft</option>
<option value="zoomInRight">zoomInRight</option>
<option value="zoomInUp">zoomInUp</option>
</optgroup>

<optgroup label="Zoom Exits">
<option value="zoomOut">zoomOut</option>
<option value="zoomOutDown">zoomOutDown</option>
<option value="zoomOutLeft">zoomOutLeft</option>
<option value="zoomOutRight">zoomOutRight</option>
<option value="zoomOutUp">zoomOutUp</option>
</optgroup>

<optgroup label="Specials">
<option value="hinge">hinge</option>
<option value="rollIn">rollIn</option>
<option value="rollOut">rollOut</option>
</optgroup>
</select>
</div>

<div layout="row">
	<select ng-change="setBorderStyle()" flex ng-model="selected" ng-options="m.borderStyle for m in borderStyle">
		<option value=""> Border Style</option>
	</select>
	<span flex><input kendo-color-picker k-palette="'websafe'" ng-model="setBorderColor" /></span>
</div>

</div>-->