
<div class="col-right " id="text-properties">
  <!--text-properties start-->
      <div class="title"><div class="active">文本设置</div></div>     
<div class="btn-group module">



    <div layout layout-align="start start">
      <div flex="15" layout  style="margin-right:5px;line-height: 2em;">
          <span>字体</span>
      </div>
      <select style="width: 100%;height: 25px;"
              ng-change="setFontFamily()" 
              ng-model="selected"
               id="fontFamilyid"
             >
        <option  value="{{item.value}}" ng-repeat="item in fontFamily">{{item.name}}</option>
      </select>
    </div>


    <div layout style="margin-top: 10px;">
      <div flex="15" layout  style="margin-right:5px;line-height: 2em;">
          <span>颜色</span>
      </div>
      <div  id="color-chooser" ></div><input type="color" id="hsv-picker" ng-model="setFontColor">
    </div>



<div class="Separation"></div>

   <div layout>
      <div flex="50" layout layout-align="start start">
      
            <span>字号</span>
             <div class="size-input-wrapper">
                <input type="number" 
                       id="txtNumid"
                       value="" 
                       ng-model="fontSize.size"
                       ng-change="getFontSize()"/>
                <span class="pxSpan">px</span>
            </div>
     </div>


       <div flex layout layout-align="end start">
          
             <span>行高</span>
             <div class="size-input-wrapper">
                <input type="number"
                       min="1"
                       step="0.1" 
                       max="10" 
                       id="txtHeightid"
                       ng-model="lineHeight.size"
                       ng-change="getLineHeight()" />
                <span class="pxSpan">em</span>
              </div>
        </div>
   </div>
       

   <div layout style="margin-top: 10px;">
      <div flex="50" layout layout-align="start start">
      
            <span>圆角</span>
             <div class="size-input-wrapper">
                <input type="number" 
                       id="txtRadiusid"
                       ng-model="radius.size"
                       ng-change="getRadiusSize()"/>
                <span class="pxSpan">px</span>
            </div>
     </div>


       <div flex layout layout-align="end start">
          
             <span>透明</span>
             <div class="size-input-wrapper">
                <input type="number" 
                       id="txtOpacityid"
                       step="0.1"
                       min="0"
                       max="1" 
                       ng-model="opacity.numberValue"
                       ng-change="getFontOpacity()"/>
              <!--   <span class="pxSpan">em</span> -->
              </div>
        </div>
   </div>




<div class="Separation"></div>

    <div layout style="margin-top: 10px;">
      <div flex="15" layout  style="margin-right:5px;line-height: 2em;">
          <span>背景</span>
      </div>
      <div  id="color-chooser-bg" ></div><input type="color" id="hsv-picker-bg" ng-model="setFontBackgroundColor">
    </div>


  <div class="Separation"></div>    
   <div layout>  
        <div  class=" B-but fontFormat" 
              id="fontBlodId" 
              ng-click="setFontBold()">
              <i class=" icon-bold"></i>
        </div>
        <div class=" B-I fontFormat"
              id="fontItalicId"
              ng-click="setFontItalic()">
              <i class="icon-italic"></i>
        </div>
        <div class=" B-U fontFormat" 
             id="textDecorationId"
             ng-click="setTextDecoration()">
             <i class=" icon-underline"></i>
        </div>
        <div class="fontFormat textAlign textAlignleftId" 
            
             ng-click="setTextAlign('left')">
             <i class="icon-align-left"></i>
        </div>
        <div class="fontFormat textAlign textAligncenterId" 
           
             ng-click="setTextAlign('center')">
             <i class="icon-align-center"></i>
        </div>
        <div class="fontFormat  textAlignrightId" 
      
             ng-click="setTextAlign('right')">
             <i class="icon-align-right"></i>
        </div>
        <div class="fontFormat" 
             ng-click="setTextLink()">
             <i class="icon-link"></i>
        </div>
   </div>      
      <div class="Separation"></div>
     <div layout layout-align="start start">
        <div flex="15"  style="margin-right:5px; line-height: 2em;">
          <span>动效</span>
        </div>
          <select ng-change="textAnimate()" 
                  ng-model="selected"
                  id="animateTextId"
                  style="width:100%;height: 25px;">

    <!--     <optgroup label="弹入效果"> -->
          <option value="bounceIn">弹入</option>
          <option value="bounceInDown">向下弹入</option>
          <option value="bounceInLeft">向左弹入</option>
          <option value="bounceInRight">向右弹入</option>
          <option value="bounceInUp">向上弹入</option>
      <!--   </optgroup> -->

  <!--       <optgroup label="渐入效果"> -->
          <option value="fadeIn">渐入</option>
          <option value="fadeInDown">向下渐入</option>
          <option value="fadeInDownBig">向下渐入放大</option>
          <option value="fadeInLeft">向左渐入</option>
          <option value="fadeInLeftBig">向左渐入放大</option>
          <option value="fadeInRight">向右渐入</option>
          <option value="fadeInRightBig">向右渐入放大</option>
          <option value="fadeInUp">向上渐入</option>
          <option value="fadeInUpBig">向上渐入放大</option>
<!--         </optgroup> -->


<!-- 
        <optgroup label="翻转效果"> -->
          <option value="flip">翻转</option>
          <option value="flipInX">水平翻转</option>
          <option value="flipInY">垂直翻转</option>

  <!--       </optgroup> -->
<!-- 
        <optgroup label="旋转效果"> -->
          <option value="rotateIn">旋转进入</option>
          <option value="rotateInDownLeft">向左旋转进入</option>
          <option value="rotateInDownRight">向右旋转进入</option>
          <option value="rotateInUpLeft">向左上旋转进入</option>
          <option value="rotateInUpRight">向右上旋转进入</option>
      <!--   </optgroup>


        <optgroup label="滑入效果"> -->
          <option value="slideInUp">向上上滑入</option>
          <option value="slideInDown">向下滑入</option>
          <option value="slideInLeft">向左滑入</option>
          <option value="slideInRight">向右滑入</option>
    <!--     </optgroup> -->
  
         </select>
       
      </div>


    <!--rk start-->
    <div layout layout-align="center center">
        <div flex="15" layout layout-align="center center" style="margin-right:10px;"><span>时长</span></div>
          <md-slider flex class="md-primary" 
                        md-discrete  
                        ng-model="AnimateSpeed.size"  
                        max='10' 
                        min = '1'
                        step='1' 
                        ng-change="getAnimateSpeed()" 
                        aria-label="rating"></md-slider>

          <div class="size-input-wrapper">
                <input type="number" 
                       id="animationDurationId"

                       ng-model="AnimateSpeed.size"
                       ng-change="getImageAnimateSpeed()"
               />
                <span class="pxSpan">s</span>
          </div>
        </div>
    <div layout layout-align="center center">
          <div flex="15" layout layout-align="center center" style="margin-right:10px;">
              <span>延迟</span>
          </div>
          <md-slider flex class="md-primary" 
                            md-discrete  
                            ng-model="AnimateDelay.size"  
                            max='5' 
                            min = '0' 
                            step='0.5' 
                            ng-change="getAnimateSpeed()" 
                            aria-label="rating">
           </md-slider>

           <div class="size-input-wrapper">
              <input type="number" 
                     id="animationDelayId"
                     ng-model="AnimateDelay.size"
                     ng-change="getAnimateSpeed()"
                      />
              <span class="pxSpan">s</span>
            </div>

        </div>
    <!--rk end-->



  </div>
<script>

$("#color-chooser").kendoColorPalette({
        palette: [ "#000000","#ffffff","#746153", "#3a4c8b", "#ffcc33", "#fb455f", "#ac120f" ],
        tileSize: 20,
        value: "#000000",
        change: function() {
            var colorId = "#"+this.value().substring(1);

              $('.ui-selected > .mText').css('color',colorId);
        }
});
var palette = $("#color-chooser").data("kendoColorPalette");
if($('.ui-selected > .mText').css('color')=='rgb(0, 0, 0)'){
    palette.value("rgb(0, 0, 0)");
}
else{
    palette.value($('.ui-selected > .mText').css('color'));
}


$("#color-chooser-bg").kendoColorPalette({
        palette: [ "#000000","#ffffff","#746153", "#3a4c8b", "#ffcc33", "#fb455f", "#ac120f" ],
        tileSize: 20,
        value: "#ffffff",
        change: function() {
            var colorId = "#"+this.value().substring(1);
            $('.ui-selected').css('backgroundColor',colorId);
        }
});
var palette_bg = $("#color-chooser-bg").data("kendoColorPalette");
if($('.ui-selected').css('backgroundColor')=='rgba(0, 0, 0, 0)'){
    palette_bg.value("rgb(255, 255, 255)");
}
else{
    palette_bg.value($('.ui-selected').css('backgroundColor'));
} 



$("#hsv-picker").kendoColorPicker({
  toolIcon: false,
  palette: "websafe",
  tileSize: 20,
  buttons:false,
  opacity: true,
});

$("#hsv-picker-bg").kendoColorPicker({
  toolIcon: false,
  palette: "websafe",
  tileSize: 20,
  buttons:false,
  opacity: true,
});

</script> 

<!--


<script>

$("#color-chooser").kendoColorPalette({
        palette: [ "#000000","#ffffff","#746153", "#3a4c8b", "#ffcc33", "#fb455f", "#ac120f" ],
        tileSize: 20,
        value: "#000000",
        change: function() {
            var colorId = "#"+this.value().substring(1);

              $('.ui-selected > .mText').css('color',colorId);
        }
});

$("#color-chooser-bg").kendoColorPalette({
        palette: [ "#000000","#ffffff","#746153", "#3a4c8b", "#ffcc33", "#fb455f", "#ac120f" ],
        tileSize: 20,
        value: "#ffffff",
        change: function() {
            var colorId = "#"+this.value().substring(1);
            $('.ui-selected').css('backgroundColor',colorId);
        }
});


 
$("#hsv-picker").kendoColorPicker({
  toolIcon: false,
  palette: "websafe",
  tileSize: 20,
  buttons:false,
  opacity: true,
});

$("#hsv-picker-bg").kendoColorPicker({
  toolIcon: false,
  palette: "websafe",
  tileSize: 20,
  buttons:false,
  opacity: true,
});

</script>

-->
</div>

   



  