      	<div class="col-right" id="form-textarea-properties">
		  <div class="title"><div class="active">Form textarea</div></div>		  		  
		  <div class="btn module module-half select-color blue">BG Color</div>		  
		  <div class="Separation"></div>		  
		  <div class="btn-group module">
		    <button type="button" class="btn btn-default module-select-half">BorderWidth</button>
		    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
		      <span class="caret"></span>
		      <span class="sr-only">Toggle Dropdown</span>
		    </button>
		    <ul class="dropdown-menu">
		      <li><a href="#">Action</a></li>
		    </ul>
		  </div>		  
		  <div class="btn module module-half select-color blue">Border Color</div>		  		  		 
      	</div>