<!--form-text-proterties start-->
      	<div class="col-right" id="form-text-proterties">
		  <div class="title"><div class="active">Form input</div></div>		  		  
		  <div class="btn module module-half select-color blue">BG Color</div>
		  <div class="btn module module-half select-color blue">Font Color</div>	
		  <div class="Separation"></div>		  
		  <div class="btn-group module">
		    <button type="button" class="btn btn-default module-select-half">BorderWidth</button>
		    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
		      <span class="caret"></span>
		      <span class="sr-only">Toggle Dropdown</span>
		    </button>
		    <ul class="dropdown-menu">
		      <li><a href="#">Action</a></li>
		    </ul>
		  </div>
		  <div class="btn-group module">
		    <button type="button" class="btn btn-default module-select-half">BorderStyle</button>
		    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
		      <span class="caret"></span>
		      <span class="sr-only">Toggle Dropdown</span>
		    </button>
		    <ul class="dropdown-menu">
		      <li><a href="#">Action</a></li>
		    </ul>
		  </div>	
		  <div class="btn module module-half select-color blue">Border Color</div>		  
		  <div class="Separation"></div>	
		  <div class="btn-group module">
		    <button type="button" class="btn btn-default module-select-half">Validation</button>
		    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
		      <span class="caret"></span>
		      <span class="sr-only">Toggle Dropdown</span>
		    </button>
		    <ul class="dropdown-menu">
		      <li><a href="#">none</a></li>
		      <li><a href="#">mail</a></li>
		      <li><a href="#">phone</a></li>
		    </ul>
		  </div>	
		  <div class="Separation"></div>
		  <div class="module">
		  	<div class="silderTitle">Transparent</div>
		  	<div class="silder"><div class="line"></div><div class="circle"></div></div>
		  	<input class="silderText btn" />
		  </div>		  
		  <div class="module">
		  	<div class="silderTitle">Rotate</div>
		  	<div class="silder"><div class="line"></div><div class="circle"></div></div>
		  	<input class="silderText btn" />
		  </div>		  		 		  
		  <div class="Separation"></div>		  
		  <div class="btn-group module module-full">
		    <button type="button" class="btn btn-default module-select-full">Action</button>
		    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
		      <span class="caret"></span>
		      <span class="sr-only">Toggle Dropdown</span>
		    </button>
		    <ul class="dropdown-menu">
		      <li><a href="#">Action</a></li>
		    </ul>
		  </div>		  		 
      	</div>
      	<!--form-text-proterties end-->