<div  class="mainContent" id='popupContainer'>
<div ui-view="editPanel">
    <edittool1></edittool1>
    <div class="mainbox">
      <pageleft></pageleft>
        <div class="col-center" id="editModulePosition">
         <div id="addBox" style="display:none;text-align:center;background:rgba(0,0,0,0.8);width:150px; height:50px;color:#fff;font-size:18px;padding:10px;border-radius:5px;position:absolute;top:50%;left:90%;z-index:9999999;">保存成功！</div>
                <div id="pagesList">
                  <i class="icon-move bgAcitve" style="position: absolute;left: 100%;top: 0px;background-color: #eee;width: 20px;height: 20px;padding: 2px;opacity:0;" ng-click="setBackground()"></i>
                <div class="swiper-slide isEdit" data-type="page" id="right_1"> </div>
                </div>
          <toolbar1></toolbar1>
        </div>
    </div>
  </div>
</div>

<script type="text/javascript">
  $(document).on("mouseenter","#pagesList",function(){
    $('.bgAcitve').stop().delay(50).animate({opacity:0.7},100);
    $("#pagesList").draggable({});
  });
  $(document).on("mouseleave",".isEdit",function(){
  $('.bgAcitve').stop().delay(50).animate({opacity:0},100);  
  });
</script>