<div class="col-right" id="img-properties">
		  <div class="title"><div class="active">图片设置</div></div>
      <div class="btn-group module">

   <div layout style="margin-top: 10px;">
      <div flex="50" layout layout-align="start start">
      
            <span>圆角</span>
             <div class="size-input-wrapper">
                <input type="number" 
                       id="txtRadiusid"
                       ng-model="imageRadius.size" 
                       ng-change="setImageRadiusSize()"/>
                <span class="pxSpan">px</span>
            </div>
     </div>


       <div flex layout layout-align="end start">
          
             <span>透明</span>
             <div class="size-input-wrapper">
                <input type="number" 
                       id="txtOpacityid"
                       ng-model="opacity.numberValue"
                       ng-change="getImageOpacity()"/>
              </div>
        </div>
   </div>




<div class="Separation"></div>   
   <div layout>  

        <div class="textright-active fontFormat" ng-click="setImageLink()"><i class="icon-link"></i></div>
      </div>      
		  <div class="Separation"></div>


      <div layout layout-align="center center">
        <div flex="30"  style="margin-right:10px;">
          <span class="md-body-1">动效</span>
        </div>
          <select class="input input--dropdown form-control" id="js--imageAnimations" ng-change="setImageAnimate()" ng-model="selected">
<!--          <optgroup label="Attention Seekers">
          <option value="bounce">bounce</option>
          <option value="flash">flash</option>
          <option value="pulse">pulse</option>
          <option value="rubberBand">rubberBand</option>
          <option value="shake">shake</option>
          <option value="swing">swing</option>
          <option value="tada">tada</option>
          <option value="wobble">wobble</option>
          <option value="jello">jello</option>
        </optgroup>
 -->
        <optgroup label="弹入效果">
          <option value="bounceIn">弹入</option>
          <option value="bounceInDown">向下弹入</option>
          <option value="bounceInLeft">向左弹入</option>
          <option value="bounceInRight">向右弹入</option>
          <option value="bounceInUp">向上弹入</option>
        </optgroup>

<!--         <optgroup label="Bouncing Exits">
          <option value="bounceOut">bounceOut</option>
          <option value="bounceOutDown">bounceOutDown</option>
          <option value="bounceOutLeft">bounceOutLeft</option>
          <option value="bounceOutRight">bounceOutRight</option>
          <option value="bounceOutUp">bounceOutUp</option>
        </optgroup> -->

        <optgroup label="渐入效果">
          <option value="fadeIn">渐入</option>
          <option value="fadeInDown">向下渐入</option>
          <option value="fadeInDownBig">向下渐入放大</option>
          <option value="fadeInLeft">向左渐入</option>
          <option value="fadeInLeftBig">向左渐入放大</option>
          <option value="fadeInRight">向右渐入</option>
          <option value="fadeInRightBig">向右渐入放大</option>
          <option value="fadeInUp">向上渐入</option>
          <option value="fadeInUpBig">向上渐入放大</option>
        </optgroup>

    <!--     <optgroup label="Fading Exits">
          <option value="fadeOut">fadeOut</option>
          <option value="fadeOutDown">fadeOutDown</option>
          <option value="fadeOutDownBig">fadeOutDownBig</option>
          <option value="fadeOutLeft">fadeOutLeft</option>
          <option value="fadeOutLeftBig">fadeOutLeftBig</option>
          <option value="fadeOutRight">fadeOutRight</option>
          <option value="fadeOutRightBig">fadeOutRightBig</option>
          <option value="fadeOutUp">fadeOutUp</option>
          <option value="fadeOutUpBig">fadeOutUpBig</option>
        </optgroup> -->

        <optgroup label="翻转效果">
          <option value="flip">翻转</option>
          <option value="flipInX">水平翻转</option>
          <option value="flipInY">垂直翻转</option>
<!--           <option value="flipOutX">flipOutX</option>
          <option value="flipOutY">flipOutY</option> -->
        </optgroup>
<!-- 
        <optgroup label="Lightspeed">
          <option value="lightSpeedIn">lightSpeedIn</option>
          <option value="lightSpeedOut">lightSpeedOut</option>
        </optgroup>
 -->
        <optgroup label="旋转效果">
          <option value="rotateIn">旋转进入</option>
          <option value="rotateInDownLeft">向左旋转进入</option>
          <option value="rotateInDownRight">向右旋转进入</option>
          <option value="rotateInUpLeft">向左上旋转进入</option>
          <option value="rotateInUpRight">向右上旋转进入</option>
        </optgroup>
<!-- 
        <optgroup label="Rotating Exits">
          <option value="rotateOut">rotateOut</option>
          <option value="rotateOutDownLeft">rotateOutDownLeft</option>
          <option value="rotateOutDownRight">rotateOutDownRight</option>
          <option value="rotateOutUpLeft">rotateOutUpLeft</option>
          <option value="rotateOutUpRight">rotateOutUpRight</option>
        </optgroup> -->

        <optgroup label="滑入效果">
          <option value="slideInUp">向上上滑入</option>
          <option value="slideInDown">向下滑入</option>
          <option value="slideInLeft">向左滑入</option>
          <option value="slideInRight">向右滑入</option>
        </optgroup>
   <!--      <optgroup label="Sliding Exits">
          <option value="slideOutUp">slideOutUp</option>
          <option value="slideOutDown">slideOutDown</option>
          <option value="slideOutLeft">slideOutLeft</option>
          <option value="slideOutRight">slideOutRight</option>
          
        </optgroup> -->
        
<!--         <optgroup label="Zoom Entrances">
          <option value="zoomIn">zoomIn</option>
          <option value="zoomInDown">zoomInDown</option>
          <option value="zoomInLeft">zoomInLeft</option>
          <option value="zoomInRight">zoomInRight</option>
          <option value="zoomInUp">zoomInUp</option>
        </optgroup> -->
        
<!--         <optgroup label="Zoom Exits">
          <option value="zoomOut">zoomOut</option>
          <option value="zoomOutDown">zoomOutDown</option>
          <option value="zoomOutLeft">zoomOutLeft</option>
          <option value="zoomOutRight">zoomOutRight</option>
          <option value="zoomOutUp">zoomOutUp</option>
        </optgroup> -->

       <!--  <optgroup label="Specials">
          <option value="hinge">hinge</option>
          <option value="rollIn">rollIn</option>
          <option value="rollOut">rollOut</option>
        </optgroup> -->
         </select>
       
      </div>


	
	
</div>
