<md-dialog aria-label="Mango (Fruit)"  ng-cloak style="padding:0;max-height: 100%;width:400px;z-index:9999999">

    <div class="modal-content" style="border-radius: 0px;">
      <div class="modal-body">
        <form>
          <div class="form-group">
            <label for="recipient-name" class="control-label">添加链接</label>
            <input type="text" class="form-control" id="textLink" ng-model="textlink" value="{{textlink}}" style="border-radius: 0px;">
          </div>
     <!--      <div class="form-group">
            <label for="message-text" class="control-label">Project Description</label>
            <textarea class="form-control" id="message-text" style="    border-radius: 0px;"></textarea>
          </div> -->
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default"  ng-click="saveTextLinkCancel()" style="border-radius:0px">关闭</button>
        <button type="button" class="btn btn-primary" ng-click="saveTextLink()" style="border-radius:0px">保存</button>
      </div>
    </div>
</md-dialog>