<md-dialog aria-label="Mango (Fruit)"  ng-cloak style="padding:0;max-height: 100%; width:50%;">
<div class="modal-content c-modal-content dialogcontent_pC0sg7">

    <div class="modal-body c-modal-body dialogbody_fNEjzK32">
        <div class="clearfix c-div div_ep7UFS">
            <div class="c-div div_oxjCL0">
                <i class="fa fa-warning c-icon icon_erH6gT">
                </i>
                <p class="paragraph_Le44bY3">
                    请选择适合的浏览器
                </p>
                <p class="paragraph_Le44bY2">
                    H5仅支持最新版的Chrome浏览器。
                    <br>
                    请点击下面链接进行下载。
                    <br>
                </p>
                <div class="c-div div_F9A4sL">
                    <img src="http://qty83k.creatby.com/materials/origin/5a71e2136ccca65baf57537c4861172e_origin.png" class="c-image image_F5FC9p" style="width:50px;">
                    <a type="button" href="http://dlsw.baidu.com/sw-search-sp/soft/9d/14744/ChromeStandalone_46.0.2490.80_Setup.1445829883.exe" class="btn btn_lightgray c-button button_39PWlW">
                        下载windows版
                    </a>
                    <a type="button" href="http://dlsw.baidu.com/sw-search-sp/soft/9d/14744/ChromeStandalone_46.0.2490.80_Setup.1445829883.exe" class="btn btn_lightgray c-button button_39PWlW">
                        下载MAC版
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer c-modal-footer">

    </div>
        </div>
</md-dialog>

