
      <div class="piclaber row" id="imgpop" style="z-index:9999;">
         <form>
          <div class="form-group">
            <label for="exampleInputEmail1">Project Name</label>
            <input type="text" class="form-control" id="projectName">
          </div>

        </form>
          <div class="opeation"><button class="btn module module-half select-color blue" ng-click="savePageContent()">Ok</button></div>
          <span class="glyphicon glyphicon-remove close"></span>
        </div>