

<md-dialog aria-label="Mango (Fruit)"  ng-cloak style="width:40%;max-height:100%;">

<!--     <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>Mango (Fruit)</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="cancel()">
          <md-icon md-svg-src="img/icons/ic_close_24px.svg" aria-label="Close dialog"></md-icon>
        </md-button>
      </div>
    </md-toolbar> -->
    <md-dialog-content>

      <div class="md-dialog-content">
       <input type="text" class="form-control" value="projectName" ng-model="projectName">
	   <button type="button" class="btn btn-info" ng-click="copyProjectInProgress()">Submit</button>
       <div >
             <a ng-click="close('useful')" style="margin-right:20px;position:absolute;top:10px;right:10px;color:#333;text-decoration:none;cursor:pointer">
        Close
      </a>
       

      </div>
    </md-dialog-content>
  <!--   <md-dialog-actions layout="row">

    </md-dialog-actions> -->
  
</md-dialog>

