  	<div class="col-left" >
		  <div class="box">
		    <div class="page">
		      <img src="images/img1.jpg" />
		      <div class="pop-icon"><div class="mark"></div><a class="glyphicon glyphicon-file"></a><a class="glyphicon glyphicon-trash"></a></div>
		    </div>
		    <div class="pagenum"><a class="glyphicon glyphicon-menu-up"></a><span>1</span><a class="glyphicon glyphicon-menu-down"></a></div>		  	
		  </div>
		  
		  
		  <div class="new-button" ng-click="createNewPage()">New</div>
    </div>
    