<!--<div class="h-slide-edit-box">
<ul>
<li ng-click="previewPage()"><i class="icon-eye-open icon-2x"></i></li>
<li ng-click="remove()"><i class="icon-trash icon-2x"></i></li>
<li ng-click="savePage()"><i class="icon-save icon-2x"></i></li>
<li ng-click="copy()"><i class="icon-copy icon-2x"></i></li>
<li ng-click="exchange()"><i class="icon-exchange icon-2x"></i></li>
</ul>
</div>-->

    <div class="edit-icon">
          	<a id="grid" ng-click="exchange()"><img src="images/grid.svg"></a>
          	<a href="#"  ng-click="remove()"><img src="images/undo.svg"></a>
          	<a href="#"  ng-click="previewPage()"><img src="images/eye.svg"></a>
          	<a href="#"  ng-click="previewPage()"><img src="images/ok.svg"></a>
</div>