<div class="edit-icon">

 		    <a  ng-click="remove()" id="#example"  data-toggle="tooltip" data-placement="top" title="Tooltip on top"><i class='icon-trash icon-2x'></i></a>
 		    <a  ng-click="previewPage()"><i class=" icon-eye-open icon-2x"></i></a>
          	<a ng-click="savePage()"><i class=" icon-save icon-2x"></i></a>
</div>

<script type="text/javascript">
	$(document).ready(function(){
		$('#example').tooltip();
		$(function () {
  $('[data-toggle="tooltip"]').tooltip()
})
	});
</script>