<div class="edit-icon">
		    <a  ng-click="remove()" id="#delicon"  data-toggle="delicon" data-placement="top" title="删除"><i class='icon-trash icon-1x'></i><span style="    font-size: 12px;
    display: inline-block;
    margin-left: 5px;">删除</span></a>

		      <a ng-click="previewPage()" id="#previewIcon"  data-toggle="previewIcon" data-placement="top" title="预览"><i class=" icon-eye-open icon-1x"></i><span style="    font-size: 12px;
    display: inline-block;
    margin-left: 5px;">预览</span></a>

		      <a ng-click="savePage()" id="#saveIcon"  data-toggle="saveIcon" data-placement="top" title="保存"
		      ><i class=" icon-save icon-1x"></i><span style="    font-size: 12px;
    display: inline-block;
    margin-left: 5px;">保存</span></a>
</div>
<!-- Jessy 20160326 start -->
<div class="user-guide">
	<a ng-click="userGuide()" id="#userGuide"  data-toggle="userGuide" data-placement="top" title="Guide">
		<i class="icon-info-sign icon-2x"></i>
	</a>
</div>
<!-- Jessy 20160326 end -->
<script type="text/javascript">
	$(document).ready(function(){
		$('#delicon').tooltip();
		$(function () {
		  $('[data-toggle="delicon"]').tooltip()
		})

		$('#previewIcon').tooltip();
		$(function () {
		  $('[data-toggle="previewIcon"]').tooltip()
		})

		$('#saveIcon').tooltip();
		$(function () {
		  $('[data-toggle="saveIcon"]').tooltip()
		})
	});
</script>