
<div  id="loginOverLay" >
  <div class="modal-dialog" role="document" style="width:400px;position: absolute;z-index: 9999999;">
    <div class="modal-content" style="border-radius: 0px;">
      <div class="modal-body">
    <form class="form-horizontal">
   		<div class="form-group">
            <label for="recipient-name" class="col-sm-3 control-label">用户名</label>
            <div class="col-sm-9">
            	<input type="text" class="form-control" ng-model="user.firstName" style="border-radius: 0px;">
            </div>
          </div>
        <div class="form-group">
            <label for="recipient-name" class="control-label col-sm-3 ">密码</label>
            <div class="col-sm-9">
            	<input class="form-control"  ng-model="user.passWord" type="password" style="border-radius: 0px;"/>
        	</div>
         </div>
      </div>
      <div class="modal-footer">
      	<span style="    text-align: left;display: inline-block;float: left;">{{error}}</span>
        <button type="button" class="btn btn-primary" ng-click="loginBtn()" style="border-radius:0px">登录</button>
      </div>
  </form>
  </div>
  </div>
    </div>
  </div>
