

<md-dialog aria-label="Mango (Fruit)"  ng-cloak style="padding:0;max-height: 100%; max-width:100%;">
    <md-dialog-content style="padding:0;">
        <div class="swiper-container" style='width:500px;height:700px;'>
        <div class="swiper-wrapper" id="previewPage">
        <pagecontent1></pagecontent1>
        </div>
    </div>
    </md-dialog-content>
</md-dialog>

   <script>
    var swiper = new Swiper('.swiper-container', {
        pagination: '.swiper-pagination',
        paginationClickable: true,
        direction: 'vertical'
    });


    </script>