<div class="col-right img-properties">
		  <div class="title"><div class="active">图片设置</div></div>
      <div class="btn-group module">

   <div layout style="margin-top: 10px;">
      <div flex="50" layout layout-align="start start">
      
            <span>圆角</span>
             <div class="size-input-wrapper">
                <input type="number" 
                       id="imageRadiusid"
                       ng-model="imageRadius.size" 
                       ng-change="setImageRadiusSize()"/>
                <span class="pxSpan">px</span>
            </div>
     </div>


       <div flex layout layout-align="end start">
          
             <span>透明</span>
             <div class="size-input-wrapper">
                <input type="number"
                       step="0.1"
                       min="0"
                       max="1" 
                       id="imageOpacityid"
                       ng-model="opacity.numberValue"
                       ng-change="getImageOpacity()"/>
              </div>
        </div>
   </div>




<div class="Separation"></div>   
    <div layout>  
      <div class="textright-active fontFormat" ng-click="setImageLink()"><i class="icon-link"></i></div>
    </div>      
		  <div class="Separation"></div>


     <div layout layout-align="start start">
        <div flex="15"  style="margin-right:5px; line-height: 2em;">
          <span>动效</span>
        </div>

          <select id="js--imageAnimations" 
                  ng-change="imageAnimate()" 
                  ng-model="selected"
                  style="width:100%;height: 25px;">
    <!--     <optgroup label="弹入效果"> -->
          <option value="bounceIn">弹入</option>
          <option value="bounceInDown">向下弹入</option>
          <option value="bounceInLeft">向左弹入</option>
          <option value="bounceInRight">向右弹入</option>
          <option value="bounceInUp">向上弹入</option>
      <!--   </optgroup> -->

  <!--       <optgroup label="渐入效果"> -->
          <option value="fadeIn">渐入</option>
          <option value="fadeInDown">向下渐入</option>
          <option value="fadeInDownBig">向下渐入放大</option>
          <option value="fadeInLeft">向左渐入</option>
          <option value="fadeInLeftBig">向左渐入放大</option>
          <option value="fadeInRight">向右渐入</option>
          <option value="fadeInRightBig">向右渐入放大</option>
          <option value="fadeInUp">向上渐入</option>
          <option value="fadeInUpBig">向上渐入放大</option>
<!--         </optgroup> -->


<!-- 
        <optgroup label="翻转效果"> -->
          <option value="flip">翻转</option>
          <option value="flipInX">水平翻转</option>
          <option value="flipInY">垂直翻转</option>

  <!--       </optgroup> -->
<!-- 
        <optgroup label="旋转效果"> -->
          <option value="rotateIn">旋转进入</option>
          <option value="rotateInDownLeft">向左旋转进入</option>
          <option value="rotateInDownRight">向右旋转进入</option>
          <option value="rotateInUpLeft">向左上旋转进入</option>
          <option value="rotateInUpRight">向右上旋转进入</option>
      <!--   </optgroup>


        <optgroup label="滑入效果"> -->
          <option value="slideInUp">向上上滑入</option>
          <option value="slideInDown">向下滑入</option>
          <option value="slideInLeft">向左滑入</option>
          <option value="slideInRight">向右滑入</option>
    <!--     </optgroup> -->
  
         </select>
       
      </div>




    <!--rk start-->
    <div layout layout-align="center center">
        <div flex="15" layout layout-align="center center" style="margin-right:10px;"><span>时长</span></div>
          <md-slider flex class="md-primary" 
                        md-discrete  
                        ng-model="AnimateSpeed.size"  
                        max='10' 
                        min = '1'
                        tep='1' 
                        ng-change="getImageAnimateSpeed()" 
                        aria-label="rating"></md-slider>

          <div class="size-input-wrapper">
                <input type="number" 
                       id="animationImageDurationId"

                       ng-model="AnimateSpeed.size"
                       ng-change="getImageAnimateSpeed()"
                       value="{{AnimateSpeed.size}}" />
                <span class="pxSpan">s</span>
          </div>
        </div>
    <div layout layout-align="center center">
          <div flex="15" layout layout-align="center center" style="margin-right:10px;">
              <span>延迟</span>
          </div>
          <md-slider flex class="md-primary" 
                            md-discrete  
                            ng-model="AnimateDelay.size"  
                            max='5' 
                            min = '0' 
                            step='0.5' 
                            ng-change="getImageAnimateSpeed()" 
                            aria-label="rating">
           </md-slider>

           <div class="size-input-wrapper">
              <input type="number" 
                     id="animationImageDelayId"
                     ng-model="AnimateDelay.size"
                     ng-change="getImageAnimateSpeed()"
                     value="{{AnimateDelay.size}}" />
              <span class="pxSpan">s</span>
            </div>

    
    <!--rk end-->
	
	
</div>
