<!--form-text-proterties start-->
      	<div class="col-right" id="form-text-proterties">
		  <div class="title"><div class="active">Form button</div></div>		  		  
	
	<div class="btn-group module">
	<div layout >
      <div flex="20" layout layout-align="center center" style="margin-right:10px;">
        <span class="md-body-1">Label</span>
      </div>
   		<div flex layout layout-align="center center" style="margin-left:10px;">
        <input flex type="text"  class="form-control" ng-model="inputLable">
      </div>
    </div>	
<div class="Separation"></div>
   <div layout >
      <div flex="20" layout layout-align="center center" style="margin-right:10px;">
        <span class="md-body-1">Type</span>
      </div>
   	   <div flex layout layout-align="center center" style="margin-left:10px;">
        <select class="input input--dropdown form-control" ><option>none</option><option>submit</option><option>reset</option></select>
      </div>
    </div>	
<div class="Separation"></div> 
  
		    <button type="button" class="btn btn-default">Create new radio</button>
	
				  		 
      	</div>
      	<!--form-text-proterties end-->